@import 'src/assets/scss/main';

h2 {
  font-weight: bold;
  margin-left: .5rem;
  color: $accent;
}

h2, h3 {
  min-width: 150px;
}

h3 {
  padding: 1rem .5rem;
  color: $accent;
  background: $lightGray;
}

.details {
  @include flex(row, nowrap, flex-start, center);
  margin-bottom: 2rem;
}

.driver-number {
  margin-left: .5rem;
  padding: .5rem;
  color: $white;
  background: $primary;
}

a {
    font-size: 0.9rem;
    color: $accent;
    text-decoration: underline;
    transition: .4s ease-in-out;
    &:hover {
      color: $primary;
    }
}

.results-header {
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 3rem;
}

.grid {
  gap: 60px 20px;
}

@media(min-width: 450px) {
  .constructor-info {
    align-items: center;
  }
}

@media(min-width: 768px) {
  .constructor-info {
    font-size: 1rem;
  }

  a {
      font-size: 1rem;
  }
}
