<article>
    <section class="details">
        <section class="image-name-container driver-constructor">
            <div class="img-container" *ngIf="imageExists"
            [ngStyle]="{ width: type === 'driver' ? '45px' : '30px', height: type === 'driver' ? '45px' : '30px'}">
                <img src="assets/images/{{ type === 'driver' ? (details && details.driverId) : (details && details.constructorId) }}.png"
                [alt]="(type === 'driver' ? (details && details.driverId) : (details && details.constructorId)) + (type === 'driver' ? ' photo' : ' logo')">
            </div>
            <h3 class="details-name" [style.marginLeft]="imageExists ? '1rem' : '0'">
                {{ type === 'constructor' ? (details && details.name) : (details && details.givenName + " " + details.familyName) }}
            </h3>
        </section>
        <p *ngIf="type === 'driver'">Date of birth: {{ (details && details.dateOfBirth) | date }}</p>
        <p>Nationality: {{ details && details.nationality }}</p>
        <p *ngIf="type === 'driver'">Number: {{ details && details.permanentNumber }}</p>
        <a [href]="details && details.url" target="_blank">Wikipedia</a>
    </section>
    <h3 class="results-header">CIRCUIT RESULTS</h3>
    <section class="grid">
        <ng-container *ngFor="let result of results">
            <app-card [type]="type" [data]="result"></app-card>
        </ng-container>
    </section>
    <h3>STATISTICS (points/circuit)</h3>
    <app-statistics [type]="type" [results]="results"></app-statistics>
</article>
