@import 'src/assets/scss/main';

h3 {
  margin-left: 1rem;
  margin-bottom: 0;
  border-left: 2px solid $primary;
}

h3, h4 {
    padding: 0.5rem;
    background: lighten($accent, 5%);
    min-width: 150px;
}

.details {
    p {
        &:last-of-type {
            margin-bottom: 0.5rem;
        }
    }
}

a {
    font-size: 0.9rem;
    color: $white;
    text-decoration: underline;
}

@media(min-width: 768px) {
    a {
        font-size: 1rem;
    }
}
