<article>
    <section class="details">
        <section class="image-name-container driver-constructor">
            <div class="img-container"
            [ngStyle]="{ width: type === 'driver' ? '45px' : '30px', height: type === 'driver' ? '45px' : '30px'}">
                <img *ngIf="imageExists; else noImage" src="assets/images/{{ type === 'driver' ? (details && details.driverId) : (details && details.constructorId) }}.png"
                [alt]="(type === 'driver' ? (details && details.driverId) : (details && details.constructorId)) + (type === 'driver' ? ' photo' : ' logo')" width="45" height="45">
                <ng-template #noImage>
                  <img src="/assets/images/no_image_available.jpg" alt="" width="45" height="45">
                </ng-template>
            </div>
            <h3>
                {{ type === 'constructor' ? (details && details.name) : (details && details.givenName + " " + details.familyName) }}
            </h3>
        </section>
        <p *ngIf="type === 'driver'">Date of birth: {{ (details && details.dateOfBirth) | date }}</p>
        <p>Nationality: {{ details && details.nationality }}</p>
        <p *ngIf="type === 'driver'">Number: {{ details && details.permanentNumber }}</p>
        <a [href]="details && details.url" target="_blank">Wikipedia</a>
    </section>
    <h4 class="results-header">CIRCUIT RESULTS</h4>
    <section class="grid">
        <ng-container *ngFor="let result of results">
            <app-card [type]="type" [data]="result"></app-card>
        </ng-container>
    </section>
    <h4>STATISTICS (points/circuit)</h4>
    <app-statistics [type]="type" [results]="results"></app-statistics>
</article>
