@import 'src/assets/scss/main';

header {
    background: $primary;
}

.mat-toolbar-row {
    @include flex(row, nowrap, space-between, center);
    padding: 0;
}

h1 {
    cursor: pointer;
}

.navigation {
    @include flex(row, nowrap, unset, center);
}

button {
    margin-right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    mat-icon {
        color: $white;
    }
}

.back-forth-navigation-btns {
    @include flex(row, nowrap, center, center);
    mat-icon {
        font-size: 1.8rem;
        cursor: pointer;
        &:last-of-type {
            margin-left: 1rem;
        }
    }
}

@media(min-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media(min-width: 1024px) {
    h1 {
        font-size: 1.8rem;
    }
}