@import 'src/assets/scss/main';

header {
    background: $primary;
}

.mat-toolbar-row {
    @include flex(row, nowrap, space-between, center);
    padding: 0;
}

h1 {
    @include flex(row, nowrap, unset, center);
    cursor: pointer;
    img {
        margin-right: 0.5rem;
    }
}

.navigation {
    @include flex(row, nowrap, unset, center);
    @media(min-width: 768px) {
      height: 100%;
    }
}

::ng-deep .mat-menu-panel {
    background: unset;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: $accent;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    mat-icon {
        color: $white;
    }
}

.back-forth-navigation-btns {
    @include flex(row, nowrap, center, center);
    mat-icon {
        font-size: 1.8rem;
        cursor: pointer;
        &:last-of-type {
            margin-left: 1rem;
        }
    }
}
