<article class="card">
    <mat-card>
        <mat-card-header>
          <mat-card-title>
              {{ data.Circuit.circuitName | uppercase }}
          </mat-card-title>
          <mat-card-subtitle>
              {{ data.Results[0].position | ordinal }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span>{{ data.Results[0].status }}</span>
            <span>{{ data.Results[0].laps }} laps</span>
            <span>{{ data.Results[0].points }}pts</span>
        </mat-card-content>
      </mat-card>
</article>
