@import 'src/assets/scss/main';

span {
  display: inline-block;
  padding: .3rem .8rem;
  color: $accent;
  border: 1px solid lighten($accent, 70%);
  &:not(:first-of-type) {
    margin-left: .5rem;
  }
}
