<article class="card">
    <mat-card>
        <mat-card-header>
          <mat-card-title>
              {{ data.Circuit.circuitName | uppercase }}
          </mat-card-title>
          <mat-card-subtitle>
              {{ data.Results[0].position | ordinal }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Laps: {{ data.Results[0].laps }}</p>
            <p>Status: {{ data.Results[0].status }}</p>
            <p>Points: {{ data.Results[0].points }}</p>
        </mat-card-content>
      </mat-card>
</article>
