@import 'src/assets/scss/main';

section:first-of-type {
  @include flex(row, nowrap, space-between, center);
}

h1 {
  @include flex(row, nowrap, flex-start, flex-start);
  font-size: 1.5rem;
  color: $white;
  margin-bottom: 0;
}

span {
  font-size: 1rem;
  margin-left: 1rem;
  padding: 0 0.5rem;
  background: $primary;
}

.road {
  @include flex(row, nowrap, flex-start, center);
  margin-bottom: 2rem;
  div {
    width: 10%;
    height: 20px;
    &:nth-child(odd) {
      background: #d62b47;
    }
    &:nth-child(even) {
      background: white;
    }
  }
}

@media(min-width: 768px){
  h2 {
    font-size: 1.8rem;
  }

  .road {
    margin-bottom: 3rem;
  }
}

@media(min-width: 1024px){
  h2 {
    font-size: 2rem;
  }
}
