h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  background-image: url("../images/f1_racing_car.png");
  background-position: right;
  background-repeat: no-repeat;
  border: 3px solid lighten($accent, 10%);
  border-radius: 10px;
}

h2, h3, p {
  color: white;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// Media
@media(min-width: 768px){
    h2 {
      font-size: 2.2rem;
      text-align: left;
      margin-bottom: 3rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

@media(min-width: 1024px){
    h2 {
        font-size: 2.4rem;
        margin-bottom: 4rem;
    }
}

@media(min-width: 1280px){
    h2 {
        font-size: 2.6rem;
    }
}
