h2, h3, p {
  color: white;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// Media
@media(min-width: 768px){
    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

@media(min-width: 1024px){
    h2 {
        font-size: 1.7rem;
    }
}

@media(min-width: 1280px){
    h2 {
        font-size: 2rem;
    }
}