<article class="card">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
              {{ type === 'circuit' ? data.circuitName : data.Circuit.circuitName | uppercase }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="type !== 'circuit'">
              {{ data.Results[0].position }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="drivers" *ngIf="type === 'constructor'">
              <span>Drivers:</span>
              <ng-container *ngFor="let result of data.Results">
                <span class="driver" (click)="router.navigate(['/drivers', result.Driver.driverId])">
                  {{ result.Driver.givenName }} {{ result.Driver.familyName }}
                </span>
              </ng-container>
          </p>
          <ng-container *ngIf="type !== 'circuit'">
            <p>Laps: {{ data.Results[0].laps }}</p>
            <p>Status: {{ data.Results[0].status }}</p>
            <p>Points: {{ data.Results[0].points }}</p>
          </ng-container>
          <ng-container *ngIf="type === 'circuit'">
            <p>Country: {{ data.Location.country }}</p>
            <p>Locality: {{ data.Location.locality }}</p>
            <a [href]="data.url" target="_blank">Wikipedia</a>
          </ng-container>  
        </mat-card-content>
      </mat-card>
</article>