@import 'src/assets/scss/main';

.drivers {
    & > span {
        display: block;
        &:first-of-type {
            margin-bottom: 0.5rem;
        }
    }
}

.driver {
    background: lighten($accent, 5%);
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s ease-in-out;
    &:not(:last-of-type) {
        margin-bottom: 0.3rem;
    }
    &:hover {
        background: black;
    }
}

.wikipedia-link {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  color: $primary;
}

.mat-card-footer {
  display: flex;
  justify-content: flex-end;
  margin: auto 0 0 0;
  button:last-of-type {
    margin-left: .3rem;
  }
}
