@import 'src/assets/scss/main';

.drivers {
    & > span {
        display: block;
        &:first-of-type {
            margin-bottom: 0.5rem;
        }
    }
}

.driver {
    background: lighten($accent, 5%);
    padding: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s ease-in-out;
    &:not(:last-of-type) {
        margin-bottom: 0.3rem;
    }
    &:hover {
        background: black;
    }
}

a {
    color: $white;
    text-decoration: underline;
}

.mat-card-actions {
    margin-left: 0.1rem;
}