<nav [ngClass]=" { 'open': isMobileMenuOpen }">
    <ul>
        <li (click)="isMobileMenuHandler.emit(false)">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>home</mat-icon>
          </a>
        </li>
        <li (click)="isMobileMenuHandler.emit(false)">
          <a routerLink="/standings" routerLinkActive="active">Standings</a>
        </li>
        <li (click)="isMobileMenuHandler.emit(false)">
            <a routerLink="/drivers" routerLinkActive="active">Drivers</a>
        </li>
        <li (click)="isMobileMenuHandler.emit(false)">
            <a routerLink="/constructors" routerLinkActive="active">Constructors</a>
        </li>
        <li (click)="isMobileMenuHandler.emit(false)">
            <a routerLink="/circuits" routerLinkActive="active">Circuits</a>
        </li>
        <li (click)="isMobileMenuHandler.emit(false)">
            <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
        </li>
    </ul>
</nav>
