@import 'src/assets/scss/main';

footer {
  padding: 0.8rem 0;
  background: $primary;
}

button {
  display: block;
  margin: 0 auto .8rem auto;
}

p {
    text-align: center;
    color: $white;
    &:first-of-type {
      margin-bottom: .5rem;
    }
    a {
      color: $white;
      text-decoration: underline;
      transition: .4s ease-in-out;
      &:hover {
        color: $accent;
      }
    }
}
