@import 'src/assets/scss/main';

footer {
  padding: 0.8rem 0;
}

p {
  font-size: 1rem;
  text-align: center;
  color: $accent;
  &:first-of-type {
    margin-bottom: .5rem;
  }
  a {
    color: $accent;
    text-decoration: underline;
    transition: .4s ease-in-out;
    &:hover {
      color: $primary;
    }
  }
}
