<section class="max-width pad">
    <h2 class="constructors-drivers-circuits-header">{{ type === 'drivers' ? 'Drivers' : 'Constructors' }} List</h2>
    <section class="grid constructors-drivers">
        <article *ngFor="let data of data$ | async" class="box" (click)="navigateTo(data)">
            <section class="image-name-container">
                <div class="img-container">
                    <img src="assets/images/{{ type === 'drivers' ? data.driverId : data.constructorId }}.png" [alt]="(type === 'constructors' ? data.name : data.familyName) + (type === 'drivers' ? ' photo' : ' logo')" />
                </div>
                <span>
                    {{ type === 'constructors' ? data.name : data.givenName + " " + data.familyName }}
                </span>
            </section>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </article>
    </section>
</section>