<article class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ circuit.circuitName | uppercase }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ circuit.Location.locality }} ({{ circuit.Location.country }})</p>
    </mat-card-content>
    <mat-card-footer>
      <a [href]="circuit.url" target="_blank" rel="noreferrer" mat-button>Wikipedia</a>
      <button mat-stroked-button (click)="showLocation(circuit.Location.lat, circuit.Location.long)">View on map</button>
    </mat-card-footer>
  </mat-card>
</article>
