@import 'src/assets/scss/main';

.mat-card-title {
  margin-bottom: 0 !important;
}

.mat-card-content {
  color: $accent;
  margin-bottom: .5rem;
}

.mat-card-footer {
  @include flex(row, nowrap, flex-start, center);
  padding-left: 16px;
  a {
    width: 24px;
    height: 24px;
  }
  .mat-icon-button {
    margin-left: .3rem;
  }
}
