<article class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ circuit.circuitName | uppercase }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ circuit.Location.locality }} ({{ circuit.Location.country }})</p>
    </mat-card-content>
    <mat-card-footer>
      <a [href]="circuit.url" target="_blank" rel="noreferrer">
        <img src="assets/images/wikipedia_logo.png" alt="Wikipedia logo" width="24" height="24">
      </a>
      <button mat-icon-button (click)="showLocation(circuit.Location.lat, circuit.Location.long)">
        <mat-icon>map</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</article>
