<article class="card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{ circuit.circuitName | uppercase }}
        <span>({{ circuit.Location.locality }} - {{ circuit.Location.country }})</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-footer>
      <a [href]="circuit.url" mat-stroked-button target="_blank" rel="noopener">
        <span>See details on</span>
        <img src="assets/images/wikipedia_logo.png" alt="Wikipedia logo" width="24" height="24">
      </a>
      <button mat-stroked-button (click)="showLocation(circuit.Location.lat, circuit.Location.long)">View on map</button>
    </mat-card-footer>
  </mat-card>
</article>
