@import 'src/assets/scss/main';

:host {
  @include flex(row, nowrap, space-between, center);
  padding: 1rem;
  color: $accent;
  background: $lightGray;
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  p > span {
    font-size: 1rem;
    &:first-of-type {
      font-weight: bold;
      padding-right: 1rem;
    }
  }
}

.name {
  font-weight: bold;
  padding-left: 1rem;
  border-left: 2px solid $primary;
}

.points {
  display: inline-block;
  font-size: .8rem;
  text-align: center;
  min-width: 70px;
  padding: .3rem 0;
  color: $white;
  background: $accent;
  border-radius: 20px;
}

@media(min-width: 960px) {
  :host {
    padding: 1rem;
  }
}
