@import 'src/assets/scss/main';

.mat-form-field {
    width: 100%;
}

.table-container {
    overflow-y: auto;
}

.mat-table {
    width: 100%;
    background: $lightAccent;
}

th {
    font-size: 1rem;
}

input, input::placeholder, th, td {
    color: $white;
}
