<app-season-filter></app-season-filter>
<app-page-header title="constructors"></app-page-header>
<ng-container *ngIf="loadingState === 'LOADED'">
  <section class="grid constructors-drivers">
    <article *ngFor="let details of data" class="box" (click)="router.navigate(['/constructors', details['constructorId']])">
      <section class="image-name-container">
        <div class="img-container_constructors">
          <img *ngIf="imageExists(details); else noImage" src="assets/images/{{ details['constructorId'] }}.png" [alt]="details['name'] + ' logo'" width="30" height="30" />
          <ng-template #noImage>
            <img src="/assets/images/no_image_available.jpg" alt="" width="30" height="30">
          </ng-template>
        </div>
        <span>{{ details['name'] }}</span>
      </section>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </article>
  </section>
</ng-container>
<mat-spinner *ngIf="loadingState === 'LOADING'"></mat-spinner>
