@import 'src/assets/scss/main';

:host {
  position: relative;
}

h2 {
    color: $white;
    background: $accent;
    padding: 1rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

button {
  position: absolute;
  top: .7rem;
  right: 1rem;
  mat-icon {
    color: $white;
  }
}

@media(min-width: 1024px) {
    h2 {
        font-size: 1.4rem;
    }
}
