@import 'src/assets/scss/main';

h3 {
  margin-left: 1rem;
  margin-bottom: 0;
  border-left: 2px solid $primary;
}

h3, h4 {
    padding: 0.5rem;
    background: $lightAccent;
    min-width: 150px;
}

.details {
    p {
        &:last-of-type {
            margin-bottom: 0.5rem;
        }
    }
}

.constructor-info {
  @include flex(row, nowrap, flex-start, flex-start);
  margin-bottom: 1rem;
  color: #62c4ed;
  mat-icon {
    margin-right: .5rem;
  }
}

a {
    font-size: 0.9rem;
    color: $white;
    text-decoration: underline;
}

.results-header + .grid {
  margin-bottom: 0;
}

@media(min-width: 450px) {
  .constructor-info {
    align-items: center;
  }
}

@media(min-width: 768px) {
  .constructor-info {
    font-size: 1rem;
  }

  a {
      font-size: 1rem;
  }
}
