<section>
  <div class="img-container">
    <img src="assets/images/formula_one_cover.jpg" alt="">
    <div class="intro">
      <h1>FORMULA 1</h1>
      <p>Standings, races, schedule and much more</p>
    </div>
  </div>
  <h2>DRIVER STANDINGS<mat-icon matTooltip="Driver standings refer to the season in progress">info</mat-icon></h2>
  <div class="placements">
    <ng-container *ngIf="!isDriverStatsLoading">
      <app-placement *ngFor="let driver of topDrivers; let i = index"
                     [position]="(i + 1) | ordinal" [points]="driver.points"
                     name="{{ driver.Driver.givenName }} {{ driver.Driver.familyName }}"
      ></app-placement>
    </ng-container>
    <app-loader *ngIf="isDriverStatsLoading"></app-loader>
  </div>
  <h2>CONSTRUCTOR STANDINGS<mat-icon matTooltip="Constructor standings refer to the season in progress">info</mat-icon></h2>
  <div class="placements">
    <ng-container *ngIf="!isConstructorStatsLoading">
      <app-placement *ngFor="let constructor of topConstructors; let i = index"
                      [position]="(i + 1) | ordinal" [points]="constructor.points"
                      [name]="constructor.Constructor.name"
      ></app-placement>
    </ng-container>
    <app-loader *ngIf="isConstructorStatsLoading"></app-loader>
  </div>
  <a routerLink="/standings" [queryParams]="{ year: currentYear }" mat-raised-button color="primary">Full Standings</a>
</section>
