@import 'src/assets/scss/main';

.drivers {
    & > span {
        display: block;
        &:first-of-type {
            margin-bottom: 0.5rem;
        }
    }
}

.driver {
    background: lighten($accent, 5%);
    padding: 0.3rem;
    border-radius: 4px;
    &:not(:last-of-type) {
        margin-bottom: 0.3rem;
    }
}