<article class="card">
    <mat-card class="mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>
              {{ cardHeader | uppercase }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="type === 'driver' || type === 'constructor'">
              {{ data.Results[0].position }}
          </mat-card-subtitle>
          <mat-card-subtitle *ngIf="type === 'race'" class="race-subtitle">Round {{ data.round }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="drivers" *ngIf="type === 'constructor'">
              <span>Drivers:</span>
              <ng-container *ngFor="let result of data.Results">
                <span class="driver" (click)="router.navigate(['/drivers', result.Driver.driverId])">
                  {{ result.Driver.givenName }} {{ result.Driver.familyName }}
                </span>
              </ng-container>
          </p>
          <ng-container *ngIf="type !== 'circuit' && type !== 'race'">
            <p>Laps: {{ data.Results[0].laps }}</p>
            <p>Status: {{ data.Results[0].status }}</p>
            <p>Points: {{ data.Results[0].points }}</p>
          </ng-container>
          <ng-container *ngIf="type === 'circuit'">
            <p>Country: {{ data.Location.country }}</p>
            <p>Locality: {{ data.Location.locality }}</p>
          </ng-container>
          <ng-container *ngIf="type === 'race'">
            <span class="race-date">{{ data.date | date: 'MMM dd' }}</span>
            <span *ngIf="data.time" class="race-time">{{ data.time | toLocalTime }}</span>
          </ng-container>
        </mat-card-content>
        <mat-card-footer *ngIf="type === 'circuit'">
          <a [href]="data.url" target="_blank" rel="noreferrer" class="wikipedia-link" mat-mini-fab color="accent" matTooltip="Wikipedia" matTooltipPosition="below">
            <mat-icon>open_in_new</mat-icon>
          </a>
          <button mat-mini-fab color="accent" (click)="showLocation(data.Location.lat, data.Location.long)" matTooltip="View on map" matTooltipPosition="below">
            <mat-icon>location_searching</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
</article>
