<section class="table">
  <ng-container *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <input matInput (keyup)="applyFilter($event)" placeholder="Search for constructor" [(ngModel)]="filterValue" autocomplete="off">
    </mat-form-field>

    <section *ngIf="data.length > 0" class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
          <td mat-cell *matCellDef="let row">{{ row?.position }} </td>
        </ng-container>

        <ng-container matColumnDef="nationality">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nationality</th>
          <td mat-cell *matCellDef="let row">{{ row?.Constructor?.nationality }}</td>
        </ng-container>

        <ng-container matColumnDef="constructor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Constructor</th>
          <td mat-cell *matCellDef="let row">{{ row?.Constructor?.name }}</td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
          <td mat-cell *matCellDef="let row">{{ row?.points }}</td>
        </ng-container>

        <ng-container matColumnDef="wins">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wins</th>
          <td mat-cell *matCellDef="let row">{{ row?.wins }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No data matching the filter "{{ filterValue }}"</td>
        </tr>
      </table>
    </section>

    <p *ngIf="data.length === 0" class="no-data">No data found</p>
  </ng-container>
  <app-loader *ngIf="isLoading"></app-loader>
</section>

