<app-season-filter></app-season-filter>
<app-page-header title="drivers"></app-page-header>
<ng-container *ngIf="loadingState === 'LOADED'">
  <section class="grid constructors-drivers">
    <article *ngFor="let details of data" class="box" (click)="router.navigate(['/drivers', details['driverId']])">
      <section class="image-name-container">
        <div class="img-container_drivers">
          <img *ngIf="imageExists(details); else noImage" src="assets/images/{{ details['driverId'] }}.png" [alt]="details['familyName'] + ' photo'" width="45" height="45" />
          <ng-template #noImage>
            <img src="/assets/images/no_image_available.jpg" alt="" width="45" height="45">
          </ng-template>
        </div>
        <span>{{ details['givenName'] + " " + details['familyName'] }}</span>
      </section>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </article>
  </section>
</ng-container>
<mat-spinner *ngIf="loadingState === 'LOADING'"></mat-spinner>
