@import 'src/assets/scss/main';

:host {
  @include flex(row, nowrap, space-between, center);
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 0;
}

span {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  color: $primary;
}
