@import 'src/assets/scss/main';

section {
  text-align: right;
  padding: 1rem 0;
}

.mat-raised-button {
  border-radius: 0;
}

button:last-of-type {
    margin-left: .5rem;
}

@media(min-width: 1024px) {
  section {
    padding: 1.5rem 0;
  }
}
