<header>
    <mat-toolbar class="max-width" color="primary">
        <mat-toolbar-row>
            <a routerLink="/" matTooltip="Go to home page" matTooltipPosition="right">
              <img src="assets/images/f1_logo.png" alt="formula one logo" width="65" height="46">
            </a>
            <section class="navigation">
              <app-navigation [isMobileMenuOpen]="isMobileMenuOpen" (isMobileMenuHandler)="isMobileMenuOpen = $event"></app-navigation>
              <button class="mobile-menu-icon {{ isMobileMenuOpen && 'open' }}" (click)="isMobileMenuOpen = !isMobileMenuOpen">
                <div></div>
                <div></div>
                <div></div>
              </button>
            </section>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
