@import 'src/assets/scss/main';

header {
    background: $primary;
}

.mat-toolbar-row {
    @include flex(row, nowrap, space-between, center);
    padding: 0;
}

a {
  width: 65px;
  height: 46px;
}

.navigation {
    @include flex(row, nowrap, unset, center);
    @media(min-width: 768px) {
      height: 100%;
    }
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    mat-icon {
        color: $white;
    }
}
