<header>
    <mat-toolbar class="max-width" color="primary">
        <mat-toolbar-row>
            <a routerLink="/" matTooltip="Go to home page" matTooltipPosition="right">
              <img src="/assets/images/f1_logo.png" alt="formula one logo" width="65" height="46">
            </a>
            <section class="navigation">
                <ng-container *ngIf="!isInMobile">
                    <app-navigation></app-navigation>
                </ng-container>
                <button mat-icon-button *ngIf="isInMobile" [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <app-navigation></app-navigation>
                </mat-menu>
            </section>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
