@import 'src/assets/scss/main';

.table {
    padding-bottom: 1rem;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0;
}

.mat-form-field {
    width: 100%;
}

.table-container {
    overflow-y: auto;
}

.mat-table {
    width: 100%;
    background: lighten($accent, 5%);
}

th {
    font-size: 1rem;
}

input, input::placeholder, th, td {
    color: $white;
}

tr {
    cursor: pointer;
    transition: .4s ease-in-out;
    &:hover {
        background: darken($accent, 5%);
    }
}

.mat-spinner {
    margin: 3rem auto 0 auto;
}

.no-data {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 0;
    background: lighten($accent, 5%);
}

@media(min-width: 1024px) {
    .table {
        padding-bottom:  2rem;
    }
}