@import 'src/assets/scss/main';

h2, p {
    text-align: center;
    margin-bottom: 1rem !important;
}

p {
    font-size: 0.9rem;
}

@media(min-width: 768px) {
    h2, p {
      text-align: left;
    }
    p {
        font-size: 1rem;
    }
}
