@import 'src/assets/scss/main';

h2 {
    color: $white;
}

@media(min-width: 768px){
    h2 {
        font-size: 1.5rem;
    }
}

@media(min-width: 1024px){
    h2 {
        font-size: 1.7rem;
    }
}

@media(min-width: 1280px){
    h2 {
        font-size: 2rem;
    }
}