@import 'src/assets/scss/main';

section {
    @include flex(row, nowrap, center, center);
}

.max-width {
    margin: 0 auto 1rem auto;
}

span {
    font-size: 1rem;
    color: $white;
}

.driver-standings {
    margin-right: 1rem;
}

.constructor-standings {
    margin-left: 1rem;
}

@media(min-width: 768px) {
    section {
        justify-content: flex-end;
    }
}
