@import 'src/assets/scss/main';

:host {
    margin-right: 1rem;
}

ul {
    @include flex(column, nowrap, center, center);
    padding: 0;
    margin: 0;
    li {
        text-align: center;
        width: 100%;
        cursor: pointer;
        a {
            display: inline-block;
            font-size: 1rem;
            text-align: center;
            width: 112px;
            color: $white;
            padding: 0.5rem;
            &.active {
                color: $primary;
                background: $white !important;
            }
        }
    }
}

@media(min-width: 768px) {
    ul {
        @include flex(row, nowrap, unset, center);
        li {
            &:not(:first-of-type) {
                margin-left: 0.5rem;
            }
            a {
                width: unset;
                color: $white !important;
                background: darken($primary, 10%) !important;
                border-radius: 4px;
                box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
                &.active {
                    background: $accent !important;
                }
            }
        }
    }
}