<nav>
    <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>home</mat-icon>
          </a>
        </li>
        <li>
            <a routerLink="/drivers" routerLinkActive="active">Drivers</a>
        </li>
        <li>
            <a routerLink="/constructors" routerLinkActive="active">Constructors</a>
        </li>
        <li>
            <a routerLink="/circuits" routerLinkActive="active">Circuits</a>
        </li>
        <li>
            <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
        </li>
    </ul>
</nav>
