@import 'src/assets/scss/theme';
@import 'src/assets/scss/material-overwrites';

* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1f1f27;
}

::-webkit-scrollbar-thumb {
  background: lighten(#1f1f27, 20%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(#1f1f27, 30%);
}

h1 {
  font-size: 1.3rem !important;
  font-weight: bold !important;
  color: #1f1f27;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2rem !important;
}

h3 {
  font-size: 1.1rem !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

app-standings app-season-filter section {
  margin-bottom: 0 !important;
}

// Media
@media(min-width: 768px){
  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.4rem !important;
  }

  h3 {
    font-size: 1.3rem !important;
  }
}

@media(min-width: 960px) {
  h1 {
    font-size: 1.7rem !important;
  }
}

@media(min-width: 1280px) {
  h1 {
    font-size: 1.9rem !important;
  }
}
