<app-season-filter></app-season-filter>
<app-page-header title="constructors">
  {{ selectedYear }}
</app-page-header>
<ng-container *ngIf="!loading">
  <section *ngIf="data.length > 0" class="grid constructors-drivers">
    <article *ngFor="let details of data" class="box">
      <section class="image-name-container">
        <div class="img-container_constructors">
          <img *ngIf="imageExists(details); else noImage" src="assets/images/{{ details['constructorId'] }}.png" [alt]="details['name'] + ' logo'" width="30" height="30" />
          <ng-template #noImage>
            <img src="assets/images/no_image_available.jpg" alt="" width="30" height="30">
          </ng-template>
        </div>
        <span>{{ details['name'] }}</span>
      </section>
      <button mat-stroked-button color="accent" (click)="openDetails(details['constructorId'])">More</button>
    </article>
  </section>

  <p *ngIf="data.length === 0" class="no-data">No data found</p>
</ng-container>
<app-loader *ngIf="loading"></app-loader>
