<article class="max-width pad">
    <h2 class="details-header">{{ type === 'driver' ? 'Driver' : 'Constructor' }} Details</h2>
    <section class="details">
        <section class="image-name-container driver-constructor">
            <div class="img-container">
                <img src="assets/images/{{ type === 'driver' ? details?.driverId : details?.constructorId }}_logo.png" [alt]="(type === 'driver' ? details?.driverId : details?.constructorId)  + ' photo'">
            </div>
            <h3 class="details-name">
                {{ type === 'constructor' ? details?.name : details?.givenName + " " + details?.familyName }}
            </h3>
        </section>
        <p *ngIf="type === 'driver'">Date of birth: {{ details?.dateOfBirth | date }}</p>
        <p>Nationality: {{ details?.nationality }}</p>
        <p *ngIf="type === 'driver'">Number: {{ details?.permanentNumber }}</p>
        <a [href]="details?.url" target="_blank">Wikipedia</a>
    </section>
    <h3 class="results-header">CIRCUIT RESULTS</h3>
    <section class="grid">
        <ng-container *ngFor="let result of results">
            <app-card [type]="type" [data]="result"></app-card>
        </ng-container>
    </section>
</article>