<article class="max-width pad">
    <h2 class="details-header">Constructor Details</h2>
    <section class="details">
        <h3 class="details-name">
            {{ type === 'constructor' ? details?.name : details?.givenName + " " + details?.familyName }}
        </h3>
        <p *ngIf="type === 'driver'">Date of birth: {{ details?.dateOfBirth | date }}</p>
        <p>Nationality: {{ details?.nationality }}</p>
        <p *ngIf="type === 'driver'">Number: {{ details?.permanentNumber }}</p>
        <a [href]="details?.url" target="_blank">Wikipedia</a>
    </section>
    <h3 class="results-header">CIRCUIT RESULTS</h3>
    <section class="grid">
        <ng-container *ngFor="let result of results">
            <app-circuit-results [type]="type" [race]="result"></app-circuit-results>
        </ng-container>
    </section>
</article>