@import 'src/assets/scss/main';

.driver-name {
    padding-left: 0.5rem;
    border-left: 2px solid $primary;
}

p {
    font-size: 0.9rem;
    &:not(:last-of-type) {
        margin-bottom: 0.5rem;
    }
}

.details {
    margin-bottom: 2rem;
}

.circuit-results-header {
    padding: 0.5rem;
    background: lighten($accent, 5%);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.grid {
    gap: 60px 20px;
    margin-bottom: 1rem;
}

@media(min-width: 768px) {
    p {
        font-size: 1rem;
    }
}

@media(min-width: 1024px) {
    h2 {
        margin-bottom: 1.5rem;
    }

    p {
        &:not(:last-of-type) {
            margin-bottom: 0.8rem;
        }
    }
}