@import 'src/assets/scss/main';

article {
    height: 100%;
}

.mat-card {
    height: 100%;
    background: $accent;
    position: relative;
}

::ng-deep .mat-card-header-text {
    color: $white;
    margin: 0 !important;
}

.mat-card-subtitle {
    @include flex(row, nowrap, center, center);
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    color: $white;
    background: $primary;
    border-radius: 100%;
}

p {
    font-size: 0.9rem;
    &:not(:last-of-type) {
        margin-bottom: 0.3rem;
    }
}