@import 'src/assets/scss/main';

footer {
    padding: 0.8rem 0;
    background: $accent;
    border-top: 1px solid $lightAccent;
}

mat-icon {
  display: block;
  padding: 0.2rem;
  margin: 0 auto .5rem;
  background: $lightAccent;
  color: $white;
  border-radius: 4px;
  cursor: pointer;
}

p {
    text-align: center;
    color: $white;
    &:first-of-type {
      margin-bottom: .5rem;
    }
    a {
      color: $primary;
      text-decoration: underline;
      transition: .4s ease-in-out;
      &:hover {
        color: $white;
      }
    }
}
